@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-de-fundo: #141519;
    --cor-caixa: #1f2630;
    --cor-item-desselecionado: #262f38;
    --cor-item-selecionado: #7c8898;
    --cor-laranja: #fc7613;
    --cor-fonte-secundaria: #747b85;
}

body{
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}


/*Tela de votação*/
.container {
    background-color: var(--cor-caixa);
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

@media only screen and (max-width: 430px) {
    /*Media Querie Tela de Seleção*/
    .container {
        width: 350px;
        height: 370px;
    }

     body .tela-selecao h1{
        margin-bottom: 15px;
    }

    body ul{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    /*Media Querie Tela de Agradecimento*/
    body .tela-agradecimento img{
        margin-top: 0px;
        margin-bottom: 25px;
        width: 200px;
        height: 130px;
    }
  }

.tela-selecao{
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.tela-selecao h1{
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 700;
}

.tela-selecao p{
    color: var(--cor-fonte-secundaria);
    font-weight: 400;
}


.btn{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
    align-self: center;
    color: #ffffff;
    background-color: var(--cor-laranja);
    text-transform: uppercase;
    font-weight: 700;
    
}

.btn:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: var(--cor-laranja);
}

.icon-star{
    background-color: var(--cor-item-desselecionado);
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 40px;
}

li button{
    color: var(--cor-fonte-secundaria);
    font-weight: 700;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--cor-item-desselecionado);
}
li button:hover{
    background-color: var(--cor-item-selecionado);
    color: #ffffff;
    cursor: pointer;
}

.tela-selecao{
    display: flex;
}

/*Tela de agradecimento*/


.tela-agradecimento{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.tela-agradecimento img{
    margin-top: 20px;
    margin-bottom: 25px;
    width: 220px;
    height: 150px;
    
}


.resultado{
    background-color: var(--cor-item-desselecionado);
    width: 180px;
    height: 30px;
    color: var(--cor-laranja);
    font-weight: 200;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.tela-agradecimento h1{
    font-size: 1.8em;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 700;
    
}



.agradecimento{
    color: var(--cor-fonte-secundaria);
    font-weight: 400;
    text-align: center;
}

.selecionado{
    background-color: var(--cor-item-selecionado);
        color: #ffffff;
}


/*Rodapé*/

.attribution{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    color: #ffffff;
}

.attribution a{
    text-decoration: none;
    color: var(--cor-laranja);
}