@charset "UTF-8";

:root{
    --cor-de-fundo: #141519;
    --cor-caixa: #1f2630;
    --cor-item-desselecionado: #262f38;
    --cor-item-selecionado: #7c8898;
    --cor-laranja: #fc7613;
}

body{
    background-color: var(--cor-de-fundo);

}

