@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


:root{
    /* ----- Tema 01 -------*/
    /*Background*/
    
    --main-background-01: hsl(222, 26%, 31%);
    --keypad-background-01: hsl(223, 31%, 20%);
    --screen-background-01: hsl(224, 36%, 15%);
    
    /*Teclas*/
    --key-background-blue-01: hsl(225, 21%, 49%);
    --key-shadow-blue-01: hsl(224, 28%, 35%);
    
    --key-background-red-01: hsl(6, 63%, 50%);
    --key-shadow-red-01: hsl(6, 70%, 34%);
    
    --key-background-white-01: hsl(30, 25%, 89%);
    --key-shadow-white-01: hsl(28, 16%, 65%);
    
    /*Texto*/
    
    --dark-grayish-blue-01: hsl(221, 14%, 31%);
    --white-01: hsl(0, 0%, 100%);


    /* ----- Tema 02 -------*/

    /*Background*/

    --main-background-02: hsl(0, 0%, 90%);
    --keypad-background-02: hsl(0, 5%, 81%);
    --screen-background-02: hsl(0, 0%, 93%);
    
}


body{
    font-family: "League Spartan", sans-serif;
    font-size: 32px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-01);
}

header{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 100px;
}
header > h1{
    font-size: 28px
}

.temas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temas > h2 {
    margin-right: 10px;
    font-size: 14px;
}

#input-tema{
    height: 20px;
    width: 73px;
    background: none;
    appearance: none;
    color: white;
    background-color: var(--screen-background-01);
    border-radius: 15px;
    padding: 5px;
}

#input-tema::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--key-background-red-01);
    border-radius: 50%;
    cursor: pointer;
}

.calculadora{
    width: 550px;
    height: 650px;
    justify-content: center;
    align-self: center;
}
.calculadora__tela{
    width: 100%;
    height: 20%;
    border-radius: 15px;
    font-size: 32px;
    color: white;
    background-color: var(--screen-background-01);
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 5%;
}

.tela{
    margin-right: 30px;
}

.calculadora__teclas{
    border-radius: 15px;
    background-color: var(--keypad-background-01);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 75.8%;
    
}

.tecla{
    color: var(-dark-grayish-blue-01);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    background-color: var(--key-background-white-01);
    flex: 1 0 21%;
    margin: 10px 10px 10px 10px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0px 3px var(--key-shadow-white-01);

}
.tecla:hover{
    cursor: pointer;
}

.tecla__igual{
    background-color: var(--key-background-red-01);
    color: white;
    box-shadow: 0px 3px var(--key-shadow-red-01);
}

.tecla__reset, .tecla__del{
    background-color: var(--key-background-blue-01);
    color: white;
    box-shadow: 0px 3px var(--key-shadow-blue-01);
}

.attribution { 
margin-top: 30px;
font-size: 12px; 
text-align: center;
}
.attribution a { color: white; }