@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root{
    /*Palheta de cores gerais - Tema 01 */
    --fundo-tema01: #3b4863;
    --fundo-teclado-tema01: #232c43;
    --fundo-tela-tema01: #171f33;
    /* Palheta de cores teclas - Tema 01 */

    --fundo-tecla-tema01: #637096;
    --sombra-tecla-tema01: #404e72;
    --tecla-vermelha: #d13e2e;
    --tecla-vermelho-escuro: #93261a;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

@media (min-width:992px) and (max-width:1440px){

}

@media (min-width:601px) and (max-width:991px) {

}

@media (min-width:375px) and (max-width: 600px){

}